.card {
    height: 100px;
    width: 350px;
    border: 3px solid black;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.div1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

h2 {
    flex: 2;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: bold;
}

button {
    background-color: #f9da78;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 3px 10px;
}