h1 {
    background-color: black;
    color: white;
    text-align: left;
    font-style: normal;
    font-family: cursive;
}
span {
    color: aqua;
}
h2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}
h3 {
    background-color: aquamarine;
    color: blue;
    text-align: right;
    font-style: normal;
    font-family: cursive;
    text-decoration: underline;
}