*{
    margin: 0;  
    padding: 0;
}
.nav{
    background-color: rgb(78, 77, 77);
    display: flex;
    width: auto;
    color: white;
    align-items: center;
    padding: 20px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
h1{
    flex: 2;
    color: white;
    font-weight: bold;
}
button{
    background-color:aqua;
    color: white;
    padding: 5px 12px;
    box-shadow: 2px 2px black;
}
.active{
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}